body{
    padding: 0;
    margin: 0;
    background-color: #eee;
}
.hover:hover{

border: 1px solid whitesmoke;
}
.fs-10{
    font-size: 11px;
}
.fs-8{
    font-size: 14px;

}
.fs-7{
    font-size: 16px;    
}

.click:hover{
    border: 4px solid orange;
} 
.light{
    color: whitesmoke;
}
.dropdown:hover .db{
display: block;
}
.carousel-control-next, .carousel-control-prev {
    bottom: 50%;
}
#over-img-div{
    float: left;
    left:2%;    
    top:60%;
    z-index: 0  ;
    position: absolute;
  /*  <!--margin-left: 80px;--> */
}
.img-card{
height: 130px;
width: 140px;
}
#ccn{
    margin-left: 70%;
    margin-top: 25%;

}
#ccp{
    margin-left: -70%;
    margin-top: 25%;
  }
br{
    background-color: #fff;
}
#lightmode{
    height: 35px;
    width: 35px;
    border-radius: 30px;
cursor: pointer;
    }
#darkmode{
 height: 35px;
 width: 35px;
    border-radius: 30px;
    cursor: pointer;
 }
 .orange{
    color: orange;
 }
 .dark{
    background-color: #201;
    color :#fff
 }